<%- include('../layouts/user-header') %>
<div class="col-12 text-center">
    <!-- <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png" alt=""> -->
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/order-confirmed-5115435-4273317.png"
        alt="">

    <h4>Your cart is empty!</h4>
    <br>
    
</div>
<%- include('../layouts/user-footer') %>